@font-face {
    font-family: 'Quicksand Bold';
    src: url('/stuff/fonts/Quicksand/static/Quicksand-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Quicksand SemiBold';
    src: url('/stuff/fonts/Quicksand/static/Quicksand-SemiBold.ttf');
  }
  
  @font-face {
    font-family: 'Quicksand Medium';
    src: url('/stuff/fonts/Quicksand/static/Quicksand-Medium.ttf');
  }

body {
    font-family: "Quicksand Medium", Helvetica, Arial, sans-serif;
    background-color: #0d0d0d;
    color: #fff;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
}
#vanta {
width: 100vw; height: 100vh;
opacity: .5;
z-index: 1;
}
#therealskibiditoilet{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -55%);
    overflow: auto;
    min-width: 350px;
    width: 45%;
    margin: 0 auto;
    border: 3px solid #e45cff;
    background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;  
  backdrop-filter: blur(10px);
    min-height: 250px;
    padding: 20px;
    z-index: 99;
    text-align: center;
}
h1 {
    font-family: 'Quicksand Bold', sans-serif;
    font-size: 40px;
  }
  
  h2 {
    font-family: 'Quicksand Bold', sans-serif;
  }
  
  h3 {
    font-family: 'Quicksand Semibold', sans-serif;
  }
  
  h4 {
    font-family: 'Quicksand Semibold', sans-serif;
  }
  
  h5 {
    font-family: 'Quicksand Semibold', sans-serif;
  }
  
  h6 {
    font-family: 'Quicksand Semibold', sans-serif;
  }
#ip{
  font-family: 'Quicksand Bold', sans-serif;
  font-size: 20px;
}
a {
  color: #426fb8;
  transition: ease 0.2s;
  text-underline-offset: 10000px;
  font-weight: 700;
}

a:hover {
  color: #e945ff;
  transition: ease 0.2s;
}

#big-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: ease-in-out 0.3s;
}

#big-profile-pic:hover {
  scale: 1.2;
  transition: ease-in-out 0.3s;
  box-shadow: 0 0 20px #02c576, 0 0 30px #02c576;
}
.enter-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    z-index: 9999;
    transition: all 0.3s ease;
  }
  
.enter-button {
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Quicksand Bold', sans-serif;
    font-size: 40px;
  }
  
.enter-button:hover {
    text-shadow: 0 0 10px #fff;
  }
  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    transition: opacity 0.5s;
    opacity: 1;
    z-index: 9998;
    font-family: 'Quicksand Bold', sans-serif;
    font-size: 30px;
}
